[Desktop Entry]
Name=Vortex
Version=0.0.1
GenericName=Presentation Editor
X-GNOME-FullName=Vortex
Comment=Presentation Editor
Encoding=UTF-8
Type=Application
Icon=webtorrent-desktop
Terminal=false
Path=$APP_PATH
Exec=$EXEC_PATH %U
TryExec=$TRY_EXEC_PATH
StartupNotify=false
Categories=Application;

Actions=CreateNewPresentation;OpenPresentationFile;

[Desktop Action CreateNewPresentation]
Name=Create New Presentation...
Exec=$EXEC_PATH -n
Path=$APP_PATH

[Desktop Action OpenPresentationFile]
Name=Open Presentation File...
Exec=$EXEC_PATH -o
Path=$APP_PATH
