.light {
  background-color: #EEEEEE;
  color: #424242;
}

.light pre {
  background-color: white;
  color: #424242;
}

.red {
  background-color: #F44336;
  color: white;
}

.red a {
  color: #81D4FA;
}

.red blockquote {
  color: #EEEEEE;
}

.red pre {
  background-color: white;
  color: #424242;
}

.red table {
  color: #424242;
}

.pink {
  background-color: #E91E63;
  color: white;
}

.pink a {
  color: #039BE5;
}

.pink blockquote {
  color: #E0E0E0;
}

.pink pre {
  background-color: white;
  color: #424242;
}

.pink table {
  color: #424242;
}

.purple {
  background-color: #9C27B0;
  color: white;
}

.purple a {
  color: #039BE5;
}

.purple blockquote {
  color: #E0E0E0;
}

.purple pre {
  background-color: white;
  color: #424242;
}

.purple table {
  color: #424242;
}

.blue {
  background-color: #2196F3;
  color: white;
}

.blue a {
  color: #FFC107;
}

.blue blockquote {
  color: #E0E0E0;
}

.blue pre {
  background-color: white;
  color: #424242;
}

.blue table {
  color: #424242;
}

.green {
  background-color: #4CAF50;
  color: white;
}

.green a {
  color: #039BE5;
}

.green blockquote {
  color: #E0E0E0;
}

.green pre {
  background-color: white;
  color: #424242;
}

.green table {
  color: #424242;
}

.lightgreen {
  background-color: #8BC34A;
  color: white;
}

.lightgreen a {
  color: #039BE5;
}

.lightgreen blockquote {
  color: #E0E0E0;
}

.lightgreen pre {
  background-color: white;
  color: #424242;
}

.lightgreen table {
  color: #424242;
}

.lime {
  background-color: #CDDC39;
  color: white;
}

.lime a {
  color: #039BE5;
}

.lime blockquote {
  color: #F5F5F5;
}

.lime pre {
  background-color: white;
  color: #424242;
}

.lime table {
  color: #424242;
}

.yellow {
  background-color: #FFEB3B;
  color: white;
}

.yellow a {
  color: #039BE5;
}

.yellow blockquote {
  color: #E0E0E0;
}

.yellow pre {
  background-color: white;
  color: #424242;
}

.yellow table {
  color: #424242;
}

.amber {
  background-color: #FFC107;
  color: white;
}

.amber a {
  color: #039BE5;
}

.amber blockquote {
  color: #E0E0E0;
}

.amber pre {
  background-color: white;
  color: #424242;
}

.amber table {
  color: #424242;
}

.orange {
  background-color: #FF9800;
  color: white;
}

.orange a {
  color: #039BE5;
}

.orange blockquote {
  color: #E0E0E0;
}

.orange pre {
  background-color: white;
  color: #424242;
}

.orange table {
  color: #424242;
}

.brown {
  background-color: #795548;
  color: white;
}

.brown a {
  color: #81D4FA;
}

.brown blockquote {
  color: #E0E0E0;
}

.brown pre {
  background-color: white;
  color: #424242;
}

.brown table {
  color: #424242;
}
