.light {
  background-color: #EEEEEE;
  color: black;
}

.light pre {
  background-color: white;
  color: #424242;
}

.dark {
  background-color: #212121;
  color: white;
}

.dark pre {
  background-color: #424242;
  color: white;
}

.dark .mermaid {
  background-color: #E0E0E0;
}

.dark table {
  color: black;
}

.red {
  background-color: #F44336;
  color: white;
}

.red pre {
  background-color: white;
  color: #424242;
}

.pink {
  background-color: #E91E63;
  color: white;
}

.pink pre {
  background-color: white;
  color: #424242;
}

.purple {
  background-color: #9C27B0;
  color: white;
}

.purple pre {
  background-color: white;
  color: #424242;
}

.blue {
  background-color: #2196F3;
  color: white;
}

.blue pre {
  background-color: white;
  color: #424242;
}

.green {
  background-color: #4CAF50;
  color: white;
}

.green pre {
  background-color: white;
  color: #424242;
}

.lightgreen {
  background-color: #8BC34A;
  color: white;
}

.lightgreen pre {
  background-color: white;
  color: #424242;
}

.lime {
  background-color: #CDDC39;
  color: white;
}

.lime pre {
  background-color: white;
  color: #424242;
}

.yellow {
  background-color: #FFEB3B;
  color: white;
}

.yellow pre {
  background-color: white;
  color: #424242;
}

.amber {
  background-color: #FFC107;
  color: white;
}

.amber pre {
  background-color: white;
  color: #424242;
}

.orange {
  background-color: #FF9800;
  color: white;
}

.orange pre {
  background-color: white;
  color: #424242;
}
